{% extends 'base.html.twig' %}

{% block body %}
    <div class = "discount row">
        <div class="col-md-12">
            <p>До конца акции: <span id = "discountEnd">00 дн. 00 часов 00 минут 00 секунд</span></p>
        </div>
    </div>
    <div class="content row">
        <div class="col-md-3">
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active" role="presentation"><a href="#">Комплектующие</a></li>
                    <li role="presentation"><a href="#">Ноутбуки и планшеты</a></li>
                    <li role="presentation"><a href="#">Компьютеры</a></li>
                    <li role="presentation"><a href="#">Цифровое фото и видео</a></li>
                    <li role="presentation"><a href="#">Аудио-видео техника</a></li>
                    <li role="presentation"><a href="#">Телефоны</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <h3>{{product.title }}</h3>
                <div class="thumbnail col-md-6">
                    <img src="{{ asset('bundles/bravoshop/images/') }}{{product.img }}" alt="item"/>
                </div>
                <div class="caption col-md-6">
                    <p>Цена: {{product.price }} BYN</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">В корзину</a>
                    </p>
                </div>
                <div class="col-md-12">
                    {{product.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}