<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('bundles/bravoshop/css/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/bravoshop/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/bravoshop/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/datatables.min.css') }}" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="{{ asset('bundles/bravoshop/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bravoshop/js/ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bravoshop/js/all_pages.js') }}"></script>
    <script src="{{ asset('bundles/bravoshop/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/bravoshop/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/bravoshop/js/func.js') }}"></script>
</head>
<body>
<div class = "menu-wrap">
    <div class = "container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="nav nav-pills">
                        <li class="active" role="presentation"><a href="index.php">Главная</a></li>
                        <li class="menu-item" role="presentation"><a href="#">Новости</a></li>
                        <li class="menu-item" role="presentation"><a href="comment.php">Отзыв о магазине</a></li>
                        <!-- [YK] пока лишнееli class="menu-item" role="presentation"><a href="#">Как купить</a></li-->
                        <!-- [YK] пока лишнее li class="menu-item" role="presentation"><a href="#">Гарантия</a></li-->
                        <li class="menu-item" role="presentation"><a href="#">Контакты</a></li>
                        <li class="menu-item" role="presentation"><a href="#">Войти или зарегистрироваться</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class="header row">
        <div class = "block-height col-md-4">
            <a href="index.php">
                <div class="logo"></div>
                <div class="logo2">
                    <p>i-shop.by</p>
                </div>
            </a>
        </div>
        <div class = "block-height col-md-4">
            <div class="search">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск по каталогу">
                    </div>
                    <button type="submit" class="btn btn-search">Найти</button>
                </form>
            </div>
        </div>
        <div class = "block-height col-md-2">
            <div class="telefon">
                <ul>
                    <li>+375(29)666-66-99</li>
                    <li>+375(25)666-66-99</li>
                    <li>+375(232)77-77-77</li>
                </ul>
            </div>
        </div>
        <div class = "block-height col-md-2">
            <div class="corzina">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <a href="#">Корзина <span class="badge">3</span></a>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <div class = "footer row">
        <div class="col-md-3">
            <p class = "copy">
                <a href="index.html">i-shop.by © 2016</a>&nbsp;|&nbsp;
                <a href="#">Privacy Policy</a>
            </p>
        </div>
        <div class="col-md-7">

        </div>
        <div class="col-md-2 text-right">
            <span id = "dateTime" class = "date-now"></span>
        </div>
    </div>

</div>
</body>
    <script src="{{ asset('bundles/admin/js/dataTables.min.js') }}"></script>
</html>
