{% extends 'admin.html.twig' %}

{% block body %}
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>id</th>
            <th>category</th>
            <th>title</th>
            <th>description</th>
            <th>price</th>
            <th>images</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.idCategory }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.img }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}